<!--The content below is only a placeholder and can be replaced.-->

<div class="col-sm-12 padding200">
    <h1><br><span data-shadow-text="People Detection Service"> People Detection Service</span><br>By Sprint Doc</h1>
</div>

<nav class="menu">
  <span class="hambgr"></span>
  <ul>
    <li>
        <a routerLink="/visable" routerLinkActive="active">People Visable</a>
    </li>
    <li>
        <a routerLink="/person" routerLinkActive="active">People</a>
    </li>
    <li>
        <a routerLink="/newperson" routerLinkActive="active">Add Person</a>
    </li>
  </ul>
</nav>



<div class="container">
    <router-outlet></router-outlet>
</div>
