<div class="container">
    <h1>New Person Form</h1>

    <form (ngSubmit)="onSubmit()" #personForm="ngForm">
        <div class="form-group">
            <label for="name">First Name</label>
            <input [(ngModel)]="person.name" name="name" type="text" class="form-control" id="name" #name="ngModel"
                   required>
        </div>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
            First Name is required
        </div>
        <div class="form-group">
            <label for="name">Last Name</label>
            <input [(ngModel)]="person.lastName" name="lastname" type="text" class="form-control" id="lastname"
                   #lastname="ngModel" required>
        </div>
        <div [hidden]="lastname.valid || lastname.pristine"
             class="alert alert-danger">
            Last Name is required
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <input [(ngModel)]="person.role" name="role" type="text" class="form-control" id="role" #role="ngModel">
        </div>

        <div class="form-group">
            <label for="picture">Picture upload</label>
            <div>
                <label class="btn btn-default btn-file">
                    Browse <input type="file" (change)="fileChange($event)" placeholder="Upload file"
                                  accept=".pdf,.doc,.docx">
                </label>
                <div class="inline" [hidden]="!fileList">
                    {{ fileName }}
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid||!fileName.length">Submit
        </button>
        <button type="button" class="btn btn-error" (click)="newPerson(); personForm.reset()">New Person</button>

    </form>
</div>
