<h2>People currently in db</h2>

<table class="table table-striped" [mfData]="data | personFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="15">
    <thead>
    <tr>
        <th style="width: 40%">
            <mfDefaultSorter by="name">Name</mfDefaultSorter>
        </th>
        <th style="width: 40%">
            <mfDefaultSorter by="role">Role</mfDefaultSorter>
        </th>
        <th>
            Original picture
        </th>
    </tr>
    <tr>
        <th colspan="5">
            Filter by name:
            <input class="form-control" [(ngModel)]="filterQuery"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="personRows" *ngFor="let p of mf.data">
        <td>{{p.name}}</td>
        <td>{{p.role}}</td>
        <td><button class="btn-primary">Picture</button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,15,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
